vault:
  vault_version: 0.7.0
  listen_protocol: tcp
  listen_port: 8200
  listen_address: 0.0.0.0
  strict_tls: 0
  default_lease_ttl: '4380h'
  max_lease_ttl: '43800h'
  s3_backend:
    bucket: 'com-foo-vault'
