vault:
  version: 0.7.2
  listen_protocol: tcp
  listen_port: 8200
  listen_address: 0.0.0.0
  strict_tls: 0
  tls_cert_file: {}
  tls_key_file: {}
  default_lease_ttl: 4380h
  max_lease_ttl: 43800h
  self_signed_cert:
    enabled: false
  backend:
    # using the file storage
    type: file
    path: "/path/to/storage"

    # if you want to use the s3 storage
    type: s3
    bucket: "example.s3.amazonaws.com"
  dev_mode: true
  service:
    type: upstart
